<form
  (ngSubmit)="onSubmit.emit(this.form.value)"
  [formGroup]="form"
  *ngIf="fieldsData.length > 1"
>
  <ng-container *ngFor="let fieldData of fieldsData">
    <app-field-generator
      [form]="form"
      [field]="fieldData"
    ></app-field-generator>
  </ng-container>

  <p><strong class="text-danger">*</strong> Required</p>

  <div class="form-group row">
    <div class="col-sm-12 text-end">
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
        SUBMIT
      </button>
    </div>
  </div>
</form>

<div *ngIf="fieldsData.length === 1">
  <ng-container *ngFor="let fieldData of fieldsData">
    <app-field-generator
      [form]="form"
      [field]="fieldData"
    ></app-field-generator>
  </ng-container>
</div>
